* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: #000;
  font-family: sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  grid-template-rows: repeat(1, 1fr);
}

.top-container {
  border: 1px solid #495057;
  color: #fff;
}

.mid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.1fr 0.2fr 1fr;
}

.main-content {
  border-bottom: 1px solid #495057;
}

/* style Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
}

.left-sidebar-logo {
  padding: 16px;
}
.left-sidebar-logo a svg:hover {
  box-shadow: 1px 1px 20px rgb(236, 232, 232);
}

.left-sidebar-btn-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.sidebar-buttons {
  border: none;
  padding: 16px;
  color: #fff;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.sidebar-buttons:hover {
  cursor: pointer;
  background: #161515;
  border-left: 2px solid #1135c6;
}

/* Style Right Sidebar */

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 40px;
  position: relative;
}

.right-sidebar-top {
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(228, 224, 224); */
}

.right-sidebar-top input {
  padding: 20px;
  width: 400px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #495057;
}

.subs-prim button {
  margin-top: 10px;
  width: 200px;
  background-color: #fff;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}

.subs-prim {
  line-height: 1.5;
  border: 1px solid #495057;
  padding: 60px 20px;
  border-radius: 10px;
}

.subs-prim button:hover {
  cursor: pointer;
  background-color: #4c6ef5;
}

.trending {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
  border: 1px solid #495057;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  padding: 60px 20px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: sans-serif;
  border: 1px solid #495057;
  padding-top: 20px;
  border-radius: 10px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}

.message svg {
  cursor: pointer;
}

.logo-absolute {
  display: inline;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 195px;
  right: 40px;
  border-radius: 2px;
  box-shadow: 1px 1px 20px rgb(236, 232, 232);
}

.logo-absolute:hover {
  cursor: pointer;
}

/* Styling Main Section */

.header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

.header button {
  border: none;
  color: #ced4da;
  font-family: sans-serif;
  font-size: 16px;
  width: 150px;
  font-weight: bold;
}

.header button:hover {
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 5px solid #3b5bdb;
}

.post {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 1fr 0.1fr;
}

.post-child {
  /* border: 1px solid #ced4da; */
}

.post-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  padding-left: 90px;
  padding-right: 20px;
}

.post-img:hover {
  cursor: pointer;
}

.post-img div {
  border-radius: 10px;
}

.post-img div img {
  height: 236px;
  width: 500px;
  border-radius: 10px;
}

.profile-content {
  display: flex;
  flex-direction: column;
}

.profile-img-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  padding: 20px;
  line-height: 2;
}

.profile-img-name img {
  border-radius: 30px;
}

.profile-img-name img:hover {
  cursor: pointer;
}

.post-like-comment {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 20px;
}

.post-like-comment div {
  display: flex;
  gap: 3px;
}

.post-like-comment svg {
  cursor: pointer;
}

.add-post {
  width: 100%;
  padding-bottom: 10px;
}

.add-post-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.add-post-main img {
  border-radius: 30px;
}

.write-somthing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.write-somthing textarea {
  /* width: 600px;
  height: 40px; */
  border: 2px solid #495057;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 5px;
}

.post-btn {
  background: #fff;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}

.post-btn:hover {
  cursor: pointer;
  background-color: #3b5bdb;
}

.select-img-gif-btn {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
}

.select-img-gif-btn div {
  display: flex;
  gap: 20px;
}

.select-img-gif-btn div svg {
  cursor: pointer;
}

/* style svg */

.select-img-gif-btn div svg:hover {
  fill: #3b5bdb;
}

.post-like-comment div svg:hover {
  fill: #3b5bdb;
}

.message div svg:hover {
  fill: #3b5bdb;
}
