* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: #000;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  grid-template-rows: repeat(1, 1fr);
}

.top-container {
  border: 1px solid #868e96;
  color: #fff;
}

.mid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.1fr 0.2fr 1fr;
}

.main-content {
  border-bottom: 1px solid #868e96;
}

/* style Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
}

.left-sidebar-logo {
  padding: 16px;
}

.left-sidebar-btn-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.sidebar-buttons {
  border: none;
  padding: 16px;
  color: #fff;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.sidebar-buttons:hover {
  cursor: pointer;
  background: #161515;
}

/* Style Right Sidebar */

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 40px;
  position: relative;
}

.right-sidebar-top {
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(228, 224, 224); */
}

.right-sidebar-top input {
  padding: 20px;
  width: 400px;
  border-radius: 30px;
  color: #fff;
  border: 2px solid #ced4da;
}

.subs-prim button {
  margin-top: 10px;
  width: 200px;
  background-color: #3b5bdb;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
}

.subs-prim {
  line-height: 1.5;
  border: 1px solid #ced4da;
  padding: 20px;
  border-radius: 10px;
}

.subs-prim button:hover {
  cursor: pointer;
  background-color: #4c6ef5;
}

.trending {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
  border: 1px solid #ced4da;
  padding: 20px;
  border-radius: 10px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: sans-serif;
  border: 1px solid #ced4da;
  padding-top: 20px;
  border-radius: 10px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}

.message svg {
  cursor: pointer;
}

.logo-absolute {
  background: #000;
  display: inline;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 195px;
  right: 40px;
  border: 1px solid #ced4da;
  border-radius: 2px;
}

.logo-absolute:hover {
  cursor: pointer;
}
